.advantages {
	justify-items: center;
}

.advantages svg {
	width: 100px;
	height: 100px;
	fill: white;
}

.advantages-icons {
	display: grid;
	gap: 20px;
	align-items: center;
	justify-content: center;
	text-align: center;
	justify-items: center;
}

.advantages-icons__icon{
	margin: 0 auto;
	text-align: center;
	display: grid;
	justify-content: center;
	justify-items: center;
}

.advantages-icons__icon div {
	width: 100px;
	height: 100px;
	gap: 10px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.advantages-icons__icon div svg{
	gap: 50px;
	width: 150px;
	height: 150px;
	fill: white;
}

.advantages-icons__text {
	font-size: 20px;
}

@media screen and (min-width: 480px) {
	.advantages-icons {
		display: grid;
		gap: 50px;
		grid-template-columns: 1fr 1fr;
	}

	.advantages-icons__icon div {
		width: 150px;
		height: 150px;
	}
	.advantages-icons__icon div svg{
		width: 120px;
		height: 120px;
	}
}

@media screen and (min-width: 768px) {
	.advantages-icons {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-items: flex-start;
		
	}

	.advantages-icons__icon div {
		width: 150px;
		height:150px;
	}
	.advantages-icons__icon div svg{
		width: 150px;
		height: 150px;
	}

	.advantages-icons__text {
		font-size: 20px;
	}

}

@media screen and (min-width: 1024px) {

	.advantages-icons__icon div {
		width: 200px;
		height:200px;
	}
	.advantages-icons__icon div svg{
		width: 150px;
		height: 150px;
	}

	.advantages-icons__text {
		font-size: 28px;
	}
}