* {
	margin: 0;
	box-sizing: border-box;
	cursor: none;
}

html,
body {
	height: 100%;
	min-height: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto-Medium', 'Arial', sans-serif;
	position: relative;
	min-height: inherit;
	background-size: contain;
}

@media screen and (min-width: 320px) {
	body {
		background: url('./../src/images/OwnBackgroundImage-mobile.webp'),
			url('./../src/images/OwnBackgroundImage-mobile.jpg') repeat center
				center;
	}

	.icon-wrapper>* {
		width: 100px;
		height: 100px;
	}
}

@media screen and (min-width: 768px) {
	body {
		background: url('./../src/images/OwnBackgroundImage.webp'),
			url('./../src/images/OwnBackgroundImage.jpg') repeat center center;
	}
}

.wrapper-dark {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.wrapper-ligth {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.intro-section {
	display: none;
}

.container {
	background: rgba(6, 6, 6, 0.8);
	position: relative;
	box-shadow: 0 0 1rem 0 rgb(0, 0, 0);
	border-radius: 3px;
	height: inherit;
	min-height: inherit;
	padding: inherit;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
}

.main {
	padding-top: 110px;
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.social-link {
	max-height: 65px;
	max-width: 65px;
	display: flex;
}

.social-link:hover svg {
	fill: white;
	opacity: 1;
	transition: 5s;
}

.social-link:not(:first-child) {
	margin-left: 10px;
}

a {
	transition: 0.3s;
}

.link:hover {
	opacity: 0.6;
	transition: 0.3s;
}

.intro-section video {
	width: 100%;
	height: '500px';
}

h2 {
	color: #fff;
	text-shadow: 0px 0px 10px #2400f2, 0px 0px 20px #000dff,
		0px 0px 30px #0031f4, 0px 0px 40px #0000f0, 0px 0px 50px #4000ff;
	text-shadow: 0px 0px 10px #e600ff, 0px 0px 20px #ff068f,
		0px 0px 30px #0008ff, 0px 0px 40px #ff0095, 0px 0px 50px #fc88a8;
	margin-bottom: 150px;

	font-size: 24px;
}

.title {
	font-size: 24px;
}

@media screen and (min-width: 768px) {
	.title {
		font-size: 46px;
	}
}


p,
span,
h3,
.link {
	color: #fff;
	text-shadow: 0px 0px 10px #2400f2, 0px 0px 20px #000dff,
		0px 0px 30px #0031f4, 0px 0px 40px #0000f0, 0px 0px 50px #4000ff;
	text-shadow: 0px 0px 10px #ff0048, 0px 0px 20px #ff0088,
		0px 0px 30px #8b00ff, 0px 0px 40px #8b00ff, 0px 0px 50px #8b00ff;
}

h2.theme-dark {
	color: #fff;
	text-shadow: 0px 0px 10px #78e0f2, 0px 0px 20px #78e0f2,
		0px 0px 30px #78e0f2, 0px 0px 40px #78e0f2, 0px 0px 50px #78e0f2;
	text-shadow: 0px 0px 10px #fc88a8, 0px 0px 20px #fc88a8,
		0px 0px 30px #fc88a8, 0px 0px 40px #fc88a8, 0px 0px 50px #fc88a8;
}

a {
	border: 2px solid transparent;
}

.imageWrapper:hover {
	border: 2px solid pink;
}

a img:not(:hover, :focus) {
	filter: blur(2px);
}

.css-p27qcy[data-checked]:not([data-theme]) {
	background-color: black;
	border: 2px solid pink;
}
.css-p27qcy[data-checked]:not([data-theme]) span {
	background-color: #8b00ff;
	border: 2px solid pink;
}

.css-p27qcy:not([data-theme]) {
	background-color: #8b00ff;
	border: 2px solid pink;
	-webkit-box-shadow: 4px 3px 14px 0px rgba(139, 0, 255, 0.2);
	-moz-box-shadow: 4px 3px 14px 0px rgba(139, 0, 255, 0.2);
	box-shadow: 4px 3px 14px 0px rgba(139, 0, 255, 0.2);
	cursor: pointer;
}

.css-p27qcy:not([data-theme]) span {
	background-color: transparent;
	border: 2px solid pink;
}

.dark-theme > * a {
	color: black;
	text-shadow: none;
}

.wrapper-dark > * p,
.wrapper-dark > * h1,
.wrapper-dark > * h2,
.wrapper-dark > * h3,
.wrapper-dark > * span {
	color: rgb(255, 255, 255);
	text-shadow: none;
}