.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
    margin: 0;
    box-sizing: border-box;
	cursor: none;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: "Roboto-Medium", "Arial", sans-serif;
	cursor: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.social-link {
	max-height: 65px;
	max-width: 65px;
	display: flex;
}

.social-link:hover svg {
	fill: white;
	opacity: 1;
	transition: 5s;
}

.social-link:not(:first-child) {
	margin-left: 10px;
}

a {
	transition: 0.3s;
}

.link:hover {
	opacity: 0.6;
	transition: 0.3s;
}

.intro-section video {
	width: 100%;
	height: '500px';
}

.cursor-dot,
.cursor-dot-outline {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	opacity: 1;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
	width: 8px;
	height: 8px;
	background-color: white;
	filter: blur(3px);
}



.cursor-dot-outline {
	width: 40px;
	height: 40px;
	background-color: #8b00ff;
	filter: blur(3px);
}

.cursor {
	z-index: 999;
	position: fixed;
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	pointer-events: none;
	background-color: blue;
	box-shadow: 0 0 20px #2696E8, 0 0 60px #2696E8,  0 0 100px #2696E8;
	transform: translate(-50%, -50%);
	animation: colors 5s infinite;
	display: none;
}

.cursor::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #2696E8;
	opacity: 0.2;
	transform: translate(-30%, -30%);
}

@keyframes colors {

	0% {
		filter: hue-rotate(0deg);
	}

	100%{
		filter: hue-rotate(360deg);
	}
}